h1,
h2 {
  font-family: Lato;
}

.table {
  background: navy; /* Цвет фона таблицы */
  color: white; /* Цвет текста */
  margin: auto;
}
td {
  background: gray; /* Цвет фона ячеек */
  text-align: center;
}
